<style type="text/css">
  .fireworks {
    position: fixed;
      top: 0;
      left: 0;
      widows: 100%;
      height: 100%;
  }
</style>
<canvas class="fireworks"></canvas>
<script src="./anime.min.js"></script>
<script src="./fireworks.js"></script>
<script type="text/javascript">
  fireworks.setCanvasSize();
</script>

{{- define "main" -}}

<article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="article-style">
      {{ .Content }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</article>

{{- end -}}
